<article class="<%= local_assigns[:css_class] || "spec--article-item" %> flex flex-col gap-2">
  <header class="flex flex-col gap-2">
    <h2 class="<%= local_assigns[:title_class] || "a--heading is--xl" %> spec--article-title">
      <%= link_to article_item.title, article_path(article_item), class: "hover-text-link text-primary" %>
    </h2>
    <div class="flex flex-col justify-between items-start gap-2">
      <time class="text-gray-500 text-sm whitespace-nowrap spec--article-date" datetime="<%= article_item.created_at.iso8601 %>">
        <%= format_date_with_weekday(article_item.created_at) %>
      </time>
      <% if show_author_info? %>
        <span class="text-sm text-gray-500 spec--article-author">著者: <%= article_item.author %></span>
      <% end %>
    </div>
  </header>

  <% if article_item.summary.present? %>
    <p class="text-muted text-sm spec--article-summary"><%= article_item.summary %></p>
  <% end %>
</article>
