<% content_for :head do %>
  <% if @article.summary.present? %>
    <meta name="description" content="<%= @article.summary %>">
    <meta property="og:description" content="<%= @article.summary %>">
  <% end %>
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="article">
  <meta property="og:title" content="<%= @article.title %>">
  <meta property="og:site_name" content="<%= SiteSetting.site_title %>">
  <% og_image_url = @article.og_image_url %>
  <% if og_image_url.present? %>
    <meta property="og:image" content="<%= og_image_url %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  <% end %>
<% end %>

<article class="prose prose-lg max-w-none">
  <header class="flex flex-col justify-center gap-8 h-60">
    <h1 class="text-5xl font-bold spec--article-title"><%= @article.title %></h1>
    <div class="flex items-center gap-4 text-sm text-gray-500 mb-4">
      <% if show_author_info? %>
        <span>著者: <%= @article.author %></span>
      <% end %>
      <span>投稿日: <%= format_date_with_weekday(@article.created_at) %></span>
    </div>
  </header>

  <div class="a--markdown-body spec--article-content py-12">
    <%= markdown(@article.body) %>
  </div>
</article>

<div class="mt-8 pt-4 flex gap-2">
  <%= link_to "記事一覧に戻る", root_path, class: "a--button is-md is-border-secondary" %>
  <% if current_user_signed_in? %>
    <%= link_to "編集", edit_admin_article_path(@article), class: "a--button is-lg is-border-secondary" %>
  <% end %>
</div>
