<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "管理画面 - #{SiteSetting.site_title}" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>" class="js-csrf-token">
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# YakuHanJP font %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@4.1.1/dist/css/yakuhanjp_s.css">

    <%# Material Icons %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col layout-admin">
    <%= render 'admin/header' %>

    <!-- Admin Main Content -->
    <main class="py-12">
      <%= yield %>
    </main>

    <%= render 'admin/footer' %>

    <!-- Toast Container -->
    <div id="toast-container" class="fixed top-4 right-4 z-50 flex flex-col gap-2 js-toast-container">
      <%= render 'shared/toasts' %>
    </div>
  </body>
</html>
