<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || SiteSetting.site_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= content_for(:description) || SiteSetting.top_page_description %>">
    <meta property="og:title" content="<%= content_for(:title) || SiteSetting.site_title %>">
    <meta property="og:description" content="<%= content_for(:description) || SiteSetting.top_page_description %>">
    <meta property="og:site_name" content="<%= SiteSetting.site_title %>">
    <% default_og_image_url = SiteSetting.default_og_image_url %>
    <% if default_og_image_url.present? %>
      <meta property="og:image" content="<%= default_og_image_url %>">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
    <% end %>
    <%= csrf_meta_tags %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>" class="js-csrf-token">
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= render "shared/style_sheets" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col layout-public">
    <% if controller_name == 'articles' && action_name == 'index' %>
      <%= render "public/hero" %>

      <!-- Public Main Content for Top Page -->
      <main class="flex-1 l--container is--md my-12">
        <%= yield %>
      </main>
    <% else %>
      <%= render "public/header" %>

      <!-- Public Main Content for Other Pages -->
      <main class="flex-1 l--container is--md my-12">
        <%= yield %>
      </main>
    <% end %>

    <%= render "public/footer" %>

    <!-- Toast Container -->
    <div id="toast-container" class="fixed top-4 right-4 z-50 flex flex-col gap-2 js--toast-container">
      <%= render "shared/toasts" %>
    </div>
  </body>
</html>
